@model List<Arsenal.MvcWeb.Models.CasinoBet>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var match = (Arsenal.MvcWeb.Models.CasinoMatch)ViewBag.Match;

}

@section Header {
    @Html.ActionLink("Back", "Index", "Casino", null,
            new { data_icon = "arrow-l", data_rel = "back", data_transition = "reverse", data_iconpos = "notext" })
    <h1>@ViewBag.Title</h1>
}

@Html.Partial("Casino/MatchInfo", match);


@{
    Html.RenderAction("PartialMatchInfo", "Casino", new { id = @ViewBag.MatchGuid });
}