@model List<Arsenal.MvcWeb.Models.Casino.BetDto>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var match = (Arsenal.MvcWeb.Models.Casino.MatchWithRateDto)ViewBag.MatchDto;

}

@section Header {
    <div data-role="header" data-position="fixed">
        @Html.ActionLink("Back", "Index", "Casino", null,
            new { data_icon = "arrow-l", data_rel = "back", data_transition = "reverse", data_iconpos = "notext" })
        <h1>@ViewBag.Title</h1>
    </div>
}

<div data-role="content">
    @Html.Partial("Casino/_MatchInfoPartial", match);
</div>
