@model Arsenal.MvcWeb.Models.CasinoMatch

@{
    ViewBag.Title = "GameBet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    @Html.ActionLink("Back", "Index", "Casino", null,
            new { data_icon = "arrow-l", data_rel = "back", data_transition = "reverse", data_iconpos = "notext" })
    <h1>@ViewBag.Title</h1>
}

@Html.Partial("Casino/MatchInfo", Model)

<div data-role="navbar">
    <ul>
        <li><a href="#anylink">投注记录</a></li>
        <li><a href="#anylink">交战记录</a></li>
        <li><a href="#anylink">留言记录</a></li>
    </ul>
</div>
<ul data-role="listview" data-inset="true">
    <li>可投注比赛</li>
    <li></li>
</ul>