@model IEnumerable<Arsenal.MvcWeb.Models.Casino.MatchWithRateDto>
@{
    ViewBag.Title = "可投注比赛";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-role="content">
    <h2>可投注比赛</h2>
    <p>
        Description
    </p>
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">可投注比赛</li>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var m in Model)
            {
                <li>
                    <a data-transition="slide" href="@Url.Action("GameBet", "Casino", new { id = m.MatchGuid.ToString() })">
                        @Html.Partial("Casino/_MatchInfoPartial", m)
                        <span class="ui-li-count">1|12.00</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>