@model IEnumerable<Arsenal.MvcWeb.Models.CasinoMatch>
@{
    ViewBag.Title = "比赛结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>比赛结果</h2>
<p>
    Description
</p>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">比赛结果</li>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var m in Model)
        {
            <li>
                <a data-transition="slide" href="@Url.Action("Detail", "Casino", new { id = m.MatchGuid.ToString() })">
                    @m.HomeTeamName vs @m.AwayTeamName
                    <br /> @m.PlayTime.ToString("yyyy-MM-dd HH:mm")
                    <span class="ui-li-count">1|12.00</span>
                </a>
            </li>
        }
    }
</ul>
