<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FrameworkContainer" connectionString="metadata=res://*/ModelFirst.Framework.csdl|res://*/ModelFirst.Framework.ssdl|res://*/ModelFirst.Framework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=C:\Projects\Arsenalcn\Arsenalcn.Framework.Service\App_Data\acnframework.mdf;initial catalog=acnframework;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>