<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Arsenalcn.WebService.Url" value="http://localhost:6421/WebService/ArsenalService.asmx" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=iarsenal;Integrated Security=True;Pooling=False"
         name="Arsenalcn.ConnectionString" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages theme="Arsenalcn" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>