<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Arsenalcn.WebService.Url" value="http://localhost/services/arsenalservice.asmx"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="server=VM-WIN2008R2;database=iarsenal;user id=arsenalcn;pwd=Linfeng01!" name="Arsenalcn.ConnectionString"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages theme="Arsenalcn"/>
  </system.web>
</configuration>