@model Arsenalcn.Core.Criteria
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}

<script type="text/javascript">
    $(document).on("pageinit", "#page", function () {
        $("#currentPage").change(function () {
            SubmitForm();
        });
        $("#pagingSize").change(function () {
            SubmitForm();
        });
        $("#pagePrev").click(function () {
            var currentPage = $("#currentPage").val();
            if (currentPage != null && currentPage > 0) {
                currentPage--;
                $("#currentPage").val(currentPage);
            }
            SubmitForm();
        });
        $("#pageNext").click(function () {
            var currentPage = $("#currentPage").val();
            if (currentPage) {
                currentPage++;
                $("#currentPage").val(currentPage);
            }
            SubmitForm();
        });
    });

    function SubmitForm() {
        document.forms["formPager"].submit();
    }
</script>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formPager" }))
{
    if (Model.CurrentPage > 0)
    {
        <a id="pagePrev" data-role="button" data-icon="arrow-l" data-iconpos="notext">上页</a>
    }

    @Html.TextBoxFor(m => m.CurrentPage, new { id = "currentPage" })
    <span> / @Model.MaxPage</span>
    @Html.TextBoxFor(m => m.PagingSize, new { id = "pagingSize" })

    if (Model.CurrentPage < Model.MaxPage)
    {
        <a id="pageNext" data-role="button" data-icon="arrow-r" data-iconpos="notext">下页</a>
    }
}