@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<div data-role="content">
    <hgroup class="title">
        <h1 class="error">提示</h1>
        <h2 class="error">您提交的请求出现异常，请于公众号 ArsenalCN 管理员联系</h2>
    </hgroup>
</div>
