/* CSS Version Base */
/* Version: 1.1.1 || Date: 2014-08-23 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Tahoma, Verdana;
}

form {
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 12px;
    font-family: Tahoma, Verdana;
    text-decoration: none;
}

    a:hover {
        font-size: 12px;
        font-family: Tahoma, Verdana;
        text-decoration: underline;
    }
/*a:link
{
    text-decoration: none;
    font-size: 12px;
    font-family: Tahoma, Verdana;
}
a:visited
{
    text-decoration: none;
    font-size: 12px;
    font-family: Tahoma, Verdana;
}*/
img {
    border: none;
}

/*** Web 2.0 ***/
/*** Table ***/
table {
    font-size: 12px;
    font-family: Tahoma, Verdana;
    empty-cells: show;
    border-collapse: separate;
}

td {
    font-size: 12px;
    font-family: Tahoma, Verdana;
}

th {
    font-size: 12px;
    font-family: Tahoma, Verdana;
}
/*** Div ***/
div {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: auto;
    padding: 0px;
}

li {
    margin: auto;
    padding: 0px;
    list-style-position: outside;
}

#Frame {
    position: relative;
    margin: auto;
}

.Clear {
    clear: both;
}
