/* CSS Version DataView for Portal */
/* Version: 1.1.2 || Date: 2014-03-04 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/* DataView */
.DataView
{
    color: #333333;
    text-align: center;
    width: 95%;
    margin: 10px auto;
}

    .DataView td
    {
        padding: 10px;
        font-size: 10.5pt;
        border-bottom: 1px dashed #ccc;
    }

        .DataView td a
        {
            font-size: 10.5pt;
        }

    .DataView .Header th
    {
        background: #f0f0f0;
        border: 1px solid #9c824a;
        padding: 8px;
        font-weight: bold;
        color: #9c824a;
        white-space: nowrap;
        font-size: 10.5pt;
    }

        .DataView .Header th a
        {
            font-weight: bold;
            color: #9c824a;
            font-size: 10.5pt;
            white-space: nowrap;
        }

            .DataView .Header th a:hover
            {
                text-decoration: none;
            }

    .DataView .Pager td, .Footer td
    {
        font-weight: bold;
        text-align: right;
    }

        .DataView .Pager td table
        {
            float: right;
        }

            .DataView .Pager td table td
            {
                border: none;
                padding: 0px;
            }

            .DataView .Pager td table tr td span
            {
                background: #eee;
                padding: 5px;
                font-weight: bold;
                color: #333;
            }

            .DataView .Pager td table tr td a
            {
                text-decoration: underline;
                padding: 3px;
            }

    .DataView .Row td
    {
        color: #444;
    }

    .DataView .AlternatingRow td
    {
        color: #444;
    }

    .DataView .SelectedRow, .DataView .Row:hover td, .DataView .AlternatingRow:hover td
    {
        color: #000;
    }

    .DataView .EditRow
    {
    }

        .DataView .EditRow td, .DataView .SelectedRow td
        {
            color: #333333;
            font-weight: bold;
        }

    .DataView td.FieldHeader
    {
        text-align: right;
        font-weight: bold;
        color: #666666;
        padding: 5px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .DataView .CommandRow td
    {
        text-align: left;
        font-weight: bold;
        color: #999;
        border-bottom: 1px solid #ccc;
    }

    .DataView a.StrongLink
    {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
    }

    .DataView a:hover.StrongLink
    {
        font-size: 14px;
        font-weight: bold;
    }

/* DataPager */
#DataPagerInfo
{
    float: left;
    padding: 2px;
    font-size: 10px;
    color: #666;
}

    #DataPagerInfo .GotoTxt
    {
        font-size: 10px;
        width: 25px;
        height: 12px;
        border: 1px solid #999;
        padding: 1px;
        text-align: center;
    }

    #DataPagerInfo .GotoBtn
    {
        font-size: 10px;
        border: 1px solid #999;
        background: #f2f2f2;
        width: 20px;
        height: 12px;
        padding: 1px 3px;
    }

#DataPlaceHolder
{
    clear: both;
}

.DataItem
{
    clear: both;
    display: none;
}

.DataPager
{
    clear: both;
    display: block;
    padding: 6px;
    height: 15px;
    text-align: right;
    font-weight: bold;
    background: #cccccc;
    border-top: 1px solid #9c824a;
}

    .DataPager a
    {
        text-decoration: underline;
        padding: 4px;
    }

    .DataPager span.Current
    {
        background: #eee;
        padding: 4px;
        font-weight: bold;
        color: #333;
    }

    .DataPager span.Prev, .DataPager span.Next, .DataPager span.Start, .DataPager span.End
    {
        background: none;
    }

/* FunctionBar */
.FunctionBar
{
    margin: 0px 10px;
    padding: 1px 10px;
    min-height: 30px;
}

    .FunctionBar .DivFloatRight
    {
        color: #444;
        float: right;
        font-weight: bold;
    }

    .FunctionBar .DivFloatLeft
    {
        color: #444;
        float: left;
        font-weight: bold;
    }


/* TreeView */
.TreeView
{
    margin: 5px;
}

    .TreeView td
    {
        font-size: 12px;
        color: #333333;
    }

    .TreeView .ParentNode
    {
    }

    .TreeView .HoverNode
    {
        text-decoration: underline;
    }

    .TreeView .SelectedNode
    {
        background: #f0edb9;
        text-decoration: underline;
        padding: 0px 2px;
        color: #333333;
        font-weight: bold;
    }

/* InfoPanel */
.InfoPanel
{
    border: 1px solid #9c824a;
    background: #fff;
    margin: 10px;
}

    .InfoPanel h3
    {
        background: #9c824a;
        height: 30px;
        border-bottom: 1px solid #9c824a;
    }

        .InfoPanel h3 a
        {
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            padding: 7px 25px;
            display: block;
            cursor: pointer;
        }

        .InfoPanel h3.Exp a
        {
            background: url(images/topItem_exp.gif) no-repeat 5px 3px;
        }

        .InfoPanel h3.Col a
        {
            background: url(images/topItem_col.gif) no-repeat 5px 3px;
        }

    .InfoPanel .Block
    {
        background: #fff;
        padding: 1px;
    }

        .InfoPanel .Block p
        {
            margin: 5px;
            color: #333;
            line-height: 1.6;
        }

        .InfoPanel .Block ul li
        {
            line-height: 1.5;
            color: #666;
            background: url(images/LiIcon.gif) no-repeat 12px 10px;
            padding: 4px 20px;
        }

            .InfoPanel .Block ul li.LiCurrent, .InfoPanel .Block ul li:hover
            {
                background: #f2f2f2 url(images/LiIcon.gif) no-repeat 12px 10px;
            }

            .InfoPanel .Block ul li.LiTitle:hover
            {
                background: #f2f2f2 url(images/LiTitle.gif) no-repeat 5px 6px;
            }

            .InfoPanel .Block ul li em
            {
                color: #aa0000;
                padding: 0px 5px 0px 1px;
                font-weight: bold;
                font-size: 11px;
            }
