/* CSS Version Default */
/* Version: 1.3 (ACN Portal 1.3) || Date: 2014-02-16 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/*** Template for Portal ***/
*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #6d2c34 url(images/bg_arsenalGlobal.gif) repeat;
}

frameset
{
    margin: 0px;
    padding: 0px;
    border: none;
}

h1, h2, h3, h4, h5
{
    font-size: 12px;
}

em, cite, strong, th
{
    font-style: normal;
    font-weight: normal;
}

select option
{
    padding-left: 4px;
}

ul, li
{
    list-style: none;
}

a
{
    color: #333333;
    text-decoration: none;
}

    a:hover
    {
        color: #aa0000;
        text-decoration: underline;
    }

em
{
    color: #aa0000;
    font-weight: bold;
}

span.Sale
{
    background: url(images/icon-sale.gif) no-repeat left top;
    padding-left: 20px;
}

/** Portal #Header **/
#header
{
    overflow: hidden;
    padding: 0px 5px;
    background: #852b37;
    height: 120px;
}

    #header h1
    {
        float: left;
    }

    #header #userPanel
    {
        float: right;
    }

        #header #userPanel h2
        {
            display: block;
            background: url(images/bg_iArsenalTitle.png) no-repeat left top;
            width: 400px;
            height: 30px;
            cursor: pointer;
        }

        #header #userPanel .UserInfo
        {
            margin: 15px;
            text-align: right;
            color: #fff;
            font-weight: normal;
        }

            #header #userPanel .UserInfo em
            {
                color: #fff000;
            }

            #header #userPanel .UserInfo a
            {
                color: #fff;
            }

                #header #userPanel .UserInfo a:hover
                {
                    color: #fff000;
                }

/** Portal #menubar **/
#menubar
{
    background: #7c6a38;
    overflow: hidden;
    border-top: 1px solid #9a8347;
    height: 30px;
}

    #menubar ul
    {
        padding: 0px 40px;
    }

        #menubar ul li
        {
            display: inline;
            float: left;
            height: 30px;
            border-right: 1px solid #5d502a;
            border-left: 1px solid #9a8347;
        }

            #menubar ul li.nol
            {
                border-left: none;
            }

            #menubar ul li.nor
            {
                border-right: none;
            }

            #menubar ul li a
            {
                display: inline-block;
                color: #fff;
                font-weight: bold;
                height: 30px;
                line-height: 30px;
                padding: 0px 20px;
            }

                #menubar ul li a:hover, #menubar ul li a.selected
                {
                    text-decoration: none;
                    background: #aa0000 url(images/menu_ahover.gif) repeat-x;
                }

/** Portal.Banner **/
#banner
{
    border: 1px solid #9a8347;
    border-left: none;
    border-right: none;
    height: 300px;
    overflow: hidden;
    width: 980px;
}

/** Portal.Nav **/
#nav
{
    background: url(images/bg_iArsenalNav.gif) no-repeat left 6px;
    margin: 10px 20px;
    border-bottom: 1px dashed #ccc;
}

    #nav #sitepath
    {
        padding: 10px;
        text-indent: 16px;
    }

/** Portal.Footer **/
#footer
{
    border-top: 1px solid #9c824a;
    background: #eeeeee;
    padding: 20px 0;
    margin: 0px;
    clear: both;
}

#footlinks
{
    float: right;
    margin-right: 10px;
    text-align: right;
}

    #footlinks a
    {
        text-decoration: underline;
    }

    #footlinks p
    {
        margin-bottom: 5px;
    }

#footer img
{
    float: left;
    margin: 0 10px 0 10px;
}

#copyright, #debuginfo
{
    font: 0.83em/1.5em Verdana, Arial, Helvetica, sans-serif;
}

    #copyright a
    {
        color: #aa0000;
        font-weight: bold;
    }

    #copyright em
    {
        color: #FF9D25;
        font-weight: bold;
    }

#debuginfo
{
    color: #999;
}

.scrolltop
{
    cursor: pointer;
}



/** ACN_MainStyle **/
#ACN_Wrap
{
    text-align: left;
    margin: auto;
    width: 980px;
    border: 1px solid #9c824a;
    border-top: none;
    border-bottom: none;
}

#ACN_Main
{
    background: #fff;
    border: 1px solid #9c824a;
    border-left: none;
    border-right: none;
}

#leftPanel
{
    display: inline;
    width: 280px;
    float: left;
    background: #fff;
}

#rightPanel
{
    display: inline;
    width: 280px;
    float: right;
    background: #fff;
}

#mainPanel
{
    display: inline;
    width: 698px;
    float: left;
    background: #fff;
}

.FooterBtnBar
{
    margin: 20px;
    text-align: center;
}

/** Portal.OrderView WorkflowInfo **/
.WorkflowInfo
{
    display: block;
    width: 620px;
    height: 35px;
    margin: auto;
    overflow: hidden;
}

    .WorkflowInfo ul
    {
        background: url(images/workflow-node-start.png) no-repeat left top;
        padding-left: 18px;
        display: block;
        height: 35px;
    }

        .WorkflowInfo ul li
        {
            float: left;
            width: 20%;
            text-align: center;
            padding-top: 18px;
            background: url(images/workflow-node-inactive.png) no-repeat right top;
        }

            .WorkflowInfo ul li.Active
            {
                background: url(images/workflow-node-active.png) no-repeat right top;
                color: #aa0000;
                font-weight: bold;
            }

/** Portal.MatchTicket TeamInfo **/
.MatchTicket_TeamInfo
{
    text-align: center;
    white-space: nowrap;
}

    .MatchTicket_TeamInfo img
    {
        width: 32px;
        height: 32px;
        border: 1px solid #ccc;
        background: #f5f5f5;
        padding: 2px;
    }

.MatchTicket_MatchInfo
{
    text-align: center;
    white-space: nowrap;
}

    .MatchTicket_MatchInfo a.StrongLink
    {
        font-size: 10.5pt;
        font-weight: bold;
        padding: 0px 2px;
        display: none;
    }

    .MatchTicket_MatchInfo img
    {
        width: 64px;
        height: 64px;
        border: 1px solid #ccc;
        background: #f5f5f5;
        padding: 2px;
        margin: 0px 15px;
    }

.MatchTicket_CategoryName
{
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 5px;
    font-size: 10.5pt;
}

.MatchTicket_TicketInfo
{
    text-align: center;
    font-weight: bold;
    color: #aa0000;
    margin: 5px;
    font-family: Arial;
    font-size: 12px;
}

.MatchTicket_GameTime
{
    text-align: center;
    font-weight: bold;
    color: #9c824a;
    margin: 5px;
    font-family: Arial;
}


/** Portal.ArsenalDirect WishList **/
.ArsenalDirect_WishList
{
}

    .ArsenalDirect_WishList .CommandRow td input.WishOrderItemListInfo
    {
        display: none;
    }

    .ArsenalDirect_WishList .CommandRow td a.AddBtn
    {
        display: inline-block;
        cursor: pointer;
        background: #EEEEEE url(images/icon-addwish.gif) no-repeat 2px 2px;
        width: 85px;
    }

    .ArsenalDirect_WishList .SelectedRow td
    {
        text-align: left;
        white-space: nowrap;
    }

        .ArsenalDirect_WishList .SelectedRow td a.DelBtn
        {
            display: inline-block;
            cursor: pointer;
            background: url(images/icon-cancel.gif) no-repeat left 3px;
            width: 16px;
            height: 16px;
        }

        .ArsenalDirect_WishList .SelectedRow td span.ProductPriceInfo
        {
            display: inline-block;
            white-space: nowrap;
        }
