/* CSS Version Default */
/* Version: 1.3 (ACN Portal 1.3) || Date: 2014-02-16 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/*** Template for Portal ***/
* {
    margin: 0;
    padding: 0;
}

body { background: #6d2c34 url(images/bg_arsenalGlobal.gif) repeat; }

frameset {
    border: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 { font-size: 12px; }

em, cite, strong, th {
    font-style: normal;
    font-weight: normal;
}

select option { padding-left: 4px; }

ul, li { list-style: none; }

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #aa0000;
    text-decoration: underline;
}

em {
    color: #aa0000;
    font-weight: bold;
}

span.Sale {
    background: url(images/icon-sale.gif) no-repeat left top;
    padding-left: 20px;
}

/** Portal #Header **/

#header {
    background: #852b37;
    height: 120px;
    overflow: hidden;
    padding: 0 5px;
}

#header h1 { float: left; }

#header #userPanel { float: right; }

#header #userPanel h2 {
    background: url(images/bg_iArsenalTitle.png) no-repeat left top;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 400px;
}

#header #userPanel .UserInfo {
    color: #fff;
    font-weight: normal;
    margin: 15px;
    text-align: right;
}

#header #userPanel .UserInfo em { color: #fff000; }

#header #userPanel .UserInfo a { color: #fff; }

#header #userPanel .UserInfo a:hover { color: #fff000; }

/** Portal #menubar **/

#menubar {
    background: #7c6a38;
    border-top: 1px solid #9a8347;
    height: 30px;
    overflow: hidden;
}

#menubar ul { padding: 0 40px; }

#menubar ul li {
    border-left: 1px solid #9a8347;
    border-right: 1px solid #5d502a;
    display: inline;
    float: left;
    height: 30px;
}

#menubar ul li.nol { border-left: none; }

#menubar ul li.nor { border-right: none; }

#menubar ul li a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}

#menubar ul li a:hover, #menubar ul li a.selected {
    background: #aa0000 url(images/menu_ahover.gif) repeat-x;
    text-decoration: none;
}

/** Portal.Banner **/

#banner {
    border: 1px solid #9a8347;
    border-left: none;
    border-right: none;
    height: 300px;
    overflow: hidden;
    width: 980px;
}

/** Portal.Nav **/

#nav {
    background: url(images/bg_iArsenalNav.gif) no-repeat left 6px;
    border-bottom: 1px dashed #ccc;
    margin: 10px 20px;
}

#nav #sitepath {
    padding: 10px;
    text-indent: 16px;
}

/** Portal.Footer **/

#footer {
    background: #eeeeee;
    border-top: 1px solid #9c824a;
    clear: both;
    margin: 0;
    padding: 20px 0;
}

#footlinks {
    float: right;
    margin-right: 10px;
    text-align: right;
}

#footlinks a { text-decoration: underline; }

#footlinks p { margin-bottom: 5px; }

#footer img {
    float: left;
    margin: 0 10px 0 10px;
}

#copyright, #debuginfo { font: 0.83em/1.5em Verdana, Arial, Helvetica, sans-serif; }

#copyright a {
    color: #aa0000;
    font-weight: bold;
}

#copyright em {
    color: #FF9D25;
    font-weight: bold;
}

#debuginfo { color: #999; }

.scrolltop { cursor: pointer; }



/** ACN_MainStyle **/

#ACN_Wrap {
    border: 1px solid #9c824a;
    border-bottom: none;
    border-top: none;
    margin: auto;
    text-align: left;
    width: 980px;
}

#ACN_Main {
    background: #fff;
    border: 1px solid #9c824a;
    border-left: none;
    border-right: none;
}

#leftPanel {
    background: #fff;
    display: inline;
    float: left;
    width: 280px;
}

#rightPanel {
    background: #fff;
    display: inline;
    float: right;
    width: 280px;
}

#mainPanel {
    background: #fff;
    display: inline;
    float: left;
    width: 698px;
}

.FooterBtnBar {
    margin: 20px;
    text-align: center;
}

/** Portal.OrderView WorkflowInfo **/

.WorkflowInfo {
    display: block;
    height: 35px;
    margin: auto;
    overflow: hidden;
    width: 620px;
}

.WorkflowInfo ul {
    background: url(images/workflow-node-start.png) no-repeat left top;
    display: block;
    height: 35px;
    padding-left: 18px;
}

.WorkflowInfo ul li {
    background: url(images/workflow-node-inactive.png) no-repeat right top;
    float: left;
    padding-top: 18px;
    text-align: center;
    width: 20%;
}

.WorkflowInfo ul li.Active {
    background: url(images/workflow-node-active.png) no-repeat right top;
    color: #aa0000;
    font-weight: bold;
}

/** Portal.MemberPeriod Application Entrance **/

.MemberPeriod_Entrance {
    display: block;
    height: 200px;
    margin: auto;
    overflow: hidden;
    width: 700px;
}

.MemberPeriod_Entrance .ApplyContainer {
    display: inline-block;
    float: left;
}

.MemberPeriod_Entrance .ApplyContainer a.Core {
    background: url(images/entrance-apply-for-core.png) no-repeat left top;
    display: block;
    height: 200px;
    width: 340px;
}

.MemberPeriod_Entrance .ApplyContainer a.Premier {
    background: url(images/entrance-apply-for-premier.png) no-repeat left top;
    display: block;
    height: 200px;
    width: 340px;
}



/** Portal.MatchTicket TeamInfo **/

.MatchTicket_TeamInfo {
    text-align: center;
    white-space: nowrap;
}

.MatchTicket_TeamInfo img {
    background: #f5f5f5;
    border: 1px solid #ccc;
    height: 32px;
    padding: 2px;
    width: 32px;
}

.MatchTicket_MatchInfo {
    text-align: center;
    white-space: nowrap;
}

.MatchTicket_MatchInfo a.StrongLink {
    display: none;
    font-size: 10.5pt;
    font-weight: bold;
    padding: 0 2px;
}

.MatchTicket_MatchInfo img {
    background: #f5f5f5;
    border: 1px solid #ccc;
    height: 64px;
    margin: 0 15px;
    padding: 2px;
    width: 64px;
}

.MatchTicket_CategoryName {
    color: #333;
    font-size: 10.5pt;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.MatchTicket_TicketInfo {
    color: #aa0000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.MatchTicket_GameTime {
    color: #9c824a;
    font-family: Arial;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}


/** Portal.ArsenalDirect WishList **/

.ArsenalDirect_WishList { }

.ArsenalDirect_WishList .CommandRow td input.WishOrderItemListInfo { display: none; }

.ArsenalDirect_WishList .CommandRow td a.AddBtn {
    background: #EEEEEE url(images/icon-addwish.gif) no-repeat 2px 2px;
    cursor: pointer;
    display: inline-block;
    width: 85px;
}

.ArsenalDirect_WishList .SelectedRow td {
    text-align: left;
    white-space: nowrap;
}

.ArsenalDirect_WishList .SelectedRow td a.DelBtn {
    background: url(images/icon-cancel.gif) no-repeat left 3px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.ArsenalDirect_WishList .SelectedRow td span.ProductPriceInfo {
    display: inline-block;
    white-space: nowrap;
}