<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arsenalcn.ClubSys.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Arsenalcn.ClubSys.Service.Properties.Settings>
            <setting name="Arsenalcn_ClubSys_Service_Arsenal_ServiceArsenal"
                serializeAs="String">
                <value>http://localhost:6421/WebService/ArsenalService.asmx</value>
            </setting>
        </Arsenalcn.ClubSys.Service.Properties.Settings>
    </applicationSettings>
</configuration>