<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iArsenal.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="iArsenal.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <iArsenal.Service.Properties.Settings>
      <setting name="iArsenal_Service_Arsenal_ServiceArsenal" serializeAs="String">
        <value>http://localhost:6421/Webservice/ArsenalService.asmx</value>
      </setting>
    </iArsenal.Service.Properties.Settings>
    <iArsenal.Service.Properties.Settings>
      <setting name="iArsenal_Entity_Arsenal_ServiceArsenal" serializeAs="String">
        <value>http://localhost:6421/Webservice/ArsenalService.asmx</value>
      </setting>
    </iArsenal.Service.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>