@{
    ViewBag.Title = "密码修改成功";
}

<div data-role="content">
    <h2>提示</h2>
    <p>
        您的密码已经修改成功
    </p>
    <ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("返回首页", "Index", "Home")</li>
    </ul>
</div>