<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Arsenalcn.CasinoSys.Entity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Arsenalcn.CasinoSys.Entity.Properties.Settings>
      <setting name="Arsenalcn_CasinoSys_Entity_Arsenal_ServiceArsenal"
        serializeAs="String">
        <value>http://localhost:6421/Webservice/ArsenalService.asmx</value>
      </setting>
    </Arsenalcn.CasinoSys.Entity.Properties.Settings>
  </applicationSettings>
</configuration>