/* CSS Version ClubSys */
/* Version: 1.7.1 || Date: 2014-8-22 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/** ClubSys ShowTopic **/
.ClubSys_ShowTopic {
    background: url(images/clubsys/ClubLogo.gif) no-repeat left 5px;
    margin: 5px;
    padding: 5px 0px 5px 20px;
}

.ClubSys_ShowTopicCrown {
    background: url(images/clubsys/ClubCrown.gif) no-repeat left 5px;
    padding: 5px 0px 5px 24px;
}

.ClubSys_ShowTopic a, .ClubSys_ShowTopicCrown a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

.ClubSys_ShowTopic em, .ClubSys_ShowTopicCrown em {
    color: #aa0000;
    font-family: Arial, Verdana, Tahoma;
    font-size: 10px;
    font-weight: bold;
    padding: 0 4px;
}

/** ClubSys Common **/

.ClubSys_Rank {
    background: url(images/clubsys/ClubStar3.gif) repeat left top;
    height: 20px;
    margin: 0 auto;
}

.ClubSys_Star1 {
    background: url(images/clubsys/ClubStar1.gif) repeat left top;
    height: 20px;
    width: 20px;
}

.ClubSys_Star2 {
    background: url(images/clubsys/ClubStar2.gif) repeat left top;
    height: 20px;
    width: 20px;
}

.ClubSys_Star3 {
    background: url(images/clubsys/ClubStar3.gif) repeat left top;
    height: 20px;
    width: 20px;
}

.ClubSys_Agree {
    background: url(images/clubsys/agree.gif) no-repeat;
    display: block;
    height: 17px;
    margin: 0 auto;
    width: 16px;
}

.ClubSys_Disagree {
    background: url(images/clubsys/disagree.gif) no-repeat;
    display: block;
    height: 17px;
    margin: 0 auto;
    width: 16px;
}

.ClubSys_Star {
    background: url(images/clubsys/star.gif) no-repeat;
    display: block;
    height: 16px;
    margin: 0 auto;
    width: 16px;
}

.ClubSys_Cash {
    background: url(images/clubsys/cash.gif) no-repeat;
    display: block;
    height: 16px;
    margin: 0 auto;
    width: 18px;
}

.ClubSys_Tip {
    background: #fff48d;
    margin: 0 1px;
    padding: 3px;
    text-align: left;
}

.ClubSys_Tip label, .ClubSys_Tip span {
    background: url(images/clubsys/Tip.gif) no-repeat 5px 1px;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6;
    padding-left: 20px;
}

.ClubSys_Notice {
    background: #fff48d;
    color: #333;
    font-size: 9pt;
    font-weight: bold;
    line-height: 1.6;
    padding: 10px;
    text-align: justify;
}

.ClubSys_Crown {
    background: url(images/clubsys/crown.gif) no-repeat top center;
    display: block;
    height: 40px;
    margin: 5px auto;
    width: 55px;
}

.ClubSys_FlagTop { /*background: url(images/clubsys/FlagTop.gif) no-repeat top left;*/ }

/** ClubSys Strip **/

.ClubSys_Strip {
    color: #333;
    display: inline-block;
    font-size: 9pt;
    font-weight: bold;
    height: 16px;
    margin-left: 10px;
}

.SHIRT {
    background: url(images/clubsys/shirt.gif) no-repeat top left;
    padding-left: 22px;
}

.SHORTS {
    background: url(images/clubsys/shorts.gif) no-repeat top left;
    padding-left: 24px;
}

.SOCK {
    background: url(images/clubsys/sock.gif) no-repeat top left;
    padding-left: 18px;
}

.CARD {
    background: url(images/clubsys/card.gif) no-repeat top left;
    padding-left: 20px;
}

.VIDEO {
    background: url(images/clubsys/video.gif) no-repeat top left;
    padding-left: 20px;
}

.CASH {
    background: url(images/clubsys/cash.gif) no-repeat top left;
    padding-left: 22px;
}

.RATE { color: #aa0000; }

.ClubSys_StripLV { }

.ClubSys_PlayerLV {
    background: url(images/clubsys/PlayerLV.gif) repeat top left;
    height: 20px;
    margin: 0 auto;
}

.ClubSys_PlayerLV1 {
    color: #ad30d9;
    margin: 0 2px;
}

.ClubSys_PlayerLV2 {
    color: #73d930;
    margin: 0 2px;
}

.ClubSys_PlayerLV3 {
    color: #304dd9;
    margin: 0 2px;
}

.ClubSys_PlayerLV4 {
    color: #aa9d2c;
    margin: 0 2px;
}

.ClubSys_PlayerLV5 {
    color: #d11915;
    margin: 0 2px;
}

/** ClubSys_GetStrip **/

.ClubSys_GetStrip {
    background: #aa0000 url(images/clubsys/ClubGetStripBg.gif) no-repeat top center;
    margin: 1px;
    text-align: center;
}

#GoogleAdv #AdvContainer {
    padding: 20px;
    text-align: center;
}

#GoogleAdv #AdvContainer #AdvLoading {
    background: #fff url(images/clubsys/advLoading.gif) no-repeat center center;
    border: 1px dashed #9c824a;
    border-top: none;
    height: 60px;
    margin: auto;
    width: 468px;
}

#GoogleAdv #AdvContainer #AdvTips {
    background: #fff48d;
    border: 1px dashed #9c824a;
    color: #da7b00;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    padding: 8px 0px;
    width: 468px;
}

.ClubSys_PlayerStripPH {
    background: #f7f7f7 url(images/listbg.jpg) no-repeat top left;
    margin: 1px 0px;
    text-align: center;
}

a.ClubSys_LuckyGet {
    background: url(images/clubsys/bonus.gif) no-repeat top left;
    color: #042e68;
    font-weight: bold;
    padding-left: 14px;
    text-decoration: underline;
}

a.ClubSys_LuckyGet:hover {
    color: #aa0000;
    font-weight: bold;
}

/** ClubSys_Header **/

.ClubSys_Header {
    background: #fef5f4;
    border-bottom: 2px solid #9c824a;
    margin: 0 1px;
}

.ClubSys_Header table { width: 100%; }

.ClubSys_Header .ClubLogo {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 80px;
}

.ClubSys_Header .ClubTitle {
    color: #aa0000;
    font-family: Vernada, 黑体;
    font-size: 26px;
    font-weight: bold;
    padding: 5px;
}

.ClubSys_Header .ClubDesc {
    color: #666;
    font-size: 13px;
    line-height: 1.5;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.ClubSys_Header .ClubBtnGroup {
    padding: 10px;
    text-align: right;
}

.ClubSys_Header .ClubSys_Rank, .ClubSys_Header .ClubSys_PlayerLV {
    float: right;
    margin: 5px;
    margin-top: 30px;
}

.ClubSys_Header .PlayerCard {
    float: left;
    margin: 5px;
}

.ClubSys_Header .ClubSys_Item {
    color: #333;
    font-weight: bold;
    margin: 5px;
    text-indent: 15px;
}

.ClubSys_Header .PlayerItemList {
    float: left;
    margin: 8px;
    width: 150px;
}

.ClubSys_Header .PlayerItemList ul li {
    color: #333;
    font-weight: bold;
    margin: 10px;
}

/* ClubSys_CollectionInfo */

.ClubSys_CollectionInfo {
    background: #fff url(images/clubsys/CollectionInfoBg.jpg) repeat-y center top;
    margin: 0 1px 1px 1px;
    text-align: center;
}

.ClubSys_CollectionInfo .ClubSys_ItemPH {
    display: inline;
    float: left;
    margin: 8px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 145px;
}

.ClubSys_CollectionInfo .ClubSys_ItemPH_Border { width: 200px; }

/*.ClubSys_ItemPH_Border object, .ClubSys_ItemPH_Border embed
{
    border: 2px solid #9c824a;
}*/

.ClubSys_ItemPH .CurrentStrip {
    background: url(images/clubsys/CurrentStrip.gif) no-repeat top center;
    display: block;
    height: 29px;
    left: 40px;
    position: absolute;
    top: 0;
    width: 30px;
}

.ClubSys_ItemPH a.BtnSetCurrent {
    background: url(images/clubsys/BtnSetCurrent.gif) no-repeat bottom center;
    bottom: 15px;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 0;
    width: 16px;
}

.ClubSys_ItemPH a.BtnCancelCurrent {
    background: url(images/clubsys/BtnCancelCurrent.gif) no-repeat bottom center;
    bottom: 15px;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 0;
    width: 16px;
}

.ClubSys_ItemPH a.BtnActive {
    background: url(images/clubsys/BtnActive.gif) no-repeat bottom center;
    bottom: 15px;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 0;
    width: 16px;
}

.ClubSys_ItemPH a.SwfViewBtn {
    background: url(images/clubsys/zoomin.gif) no-repeat top center;
    bottom: 45px;
    cursor: pointer;
    display: none;
    height: 18px;
    position: absolute;
    right: 0;
    width: 18px;
}

.ClubSys_ItemPH:hover a.SwfViewBtn, .ClubSys_ItemPH:hover a.BtnActive, .ClubSys_ItemPH:hover a.BtnSetCurrent, .ClubSys_ItemPH:hover a.BtnDesc, .ClubSys_ItemPH:hover a.BtnCancelCurrent { display: block; }

.SwfViewBtnLeft {
    background: url(images/clubsys/zoomin.gif) no-repeat top center;
    cursor: pointer;
    display: inline;
    float: right;
    height: 18px;
    margin: 5px;
    width: 18px;
}

/* ClubSys_ProfileInfo */

.ClubSys_ProfileInfo {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 500px;
}

.ClubSys_ProfileInfo a {
    display: inline-block;
    height: 200px;
    margin: 30px;
    width: 180px;
}

.ClubSys_ProfileInfo a.BtnCardActive { background: url(images/clubsys/PlayerCardCountBg.gif) no-repeat top center; }

.ClubSys_ProfileInfo a.BtnVideoActive { background: url(images/clubsys/VideoCardCountBg.gif) no-repeat top center; }

.ClubSys_ProfileInfo span {
    color: #fff;
    display: block;
    font-family: Georgia, Tahoma, Verdana;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index: 1000;
}

.ClubSys_ProfileInfo span.VideoActiveCount {
    bottom: 52px;
    font-size: 28px;
    left: 52px;
    width: 50px;
}

.ClubSys_ProfileInfo span.VideoCount {
    bottom: 50px;
    font-size: 22px;
    left: 97px;
    width: 40px;
}

.ClubSys_ProfileInfo span.CardActiveCount {
    bottom: 52px;
    font-size: 28px;
    right: 160px;
    width: 50px;
}

.ClubSys_ProfileInfo span.CardCount {
    bottom: 50px;
    font-size: 22px;
    right: 123px;
    width: 40px;
}

/* ClubSys_MainInfo */

.ClubSys_MainInfo { background: #f7f7f7 url(images/listbg.jpg) no-repeat top left; }

.ClubSys_MainInfo em {
    font-family: Georgia, Tahoma, Verdana;
    font-size: 13px;
    font-weight: bold;
}

.ClubSys_MainInfo .BaseInfoPanel {
    display: inline;
    float: left;
    margin: 5px;
    width: 60%;
}

.ClubSys_MainInfo .BaseInfoPanel dl {
    display: inline;
    float: left;
    margin: 5px;
    width: 47%;
}

.ClubSys_MainInfo .BaseInfoPanel dl dt {
    color: #444;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px;
}

.ClubSys_MainInfo .BaseInfoPanel dl dd {
    color: #444;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px;
}

.ClubSys_MainInfo .BaseInfoPanel dl dd a {
    color: #aa0000;
    font-weight: bold;
    text-decoration: underline;
}

.ClubSys_MainInfo .BaseInfoPanel dl dd:hover, .ClubSys_MainInfo .BaseInfoPanel dl dt:hover { background: #f2f2f2; }

.ClubSys_MainInfo .BaseInfoPanel dl dt label, .ClubSys_MainInfo .BaseInfoPanel dl dd label {
    background: url(images/LiIcon.gif) no-repeat 0px 6px;
    color: #666;
    display: inline-block;
    font-weight: normal;
    padding: 0 2px 0px 10px;
    text-align: right;
}

.ClubSys_AdminPanel { margin: 5px; }

.ClubSys_AdminPanel ul li {
    background: url(images/clubsys/worker.gif) no-repeat left 3px;
    font-size: 12px;
    padding: 3px 0px 3px 20px;
    text-align: left;
}

.ClubSys_AdminPanel ul li.Manager { background: url(images/clubsys/manager.gif) no-repeat left 3px; }

.ClubSys_AdminPanel ul li a {
    font-weight: bold;
    text-decoration: underline;
}

.ClubSys_AdminPanel ul li a:hover { font-weight: bold; }

.ClubSys_MainInfo .AdminPanel {
    border-left: 1px dashed #ccc;
    display: inline;
    float: right;
    margin: 5px;
    width: 35%;
}

.ClubSys_MainInfo .AdminPanel ul {
    clear: both;
    margin: 0 10px;
}

.ClubSys_MainInfo .AdminPanel ul li {
    background: url(images/clubsys/worker.gif) no-repeat left 5px;
    font-size: 13px;
    padding: 5px 0px 5px 20px;
}

.ClubSys_MainInfo .AdminPanel ul li:hover { background-color: #f2f2f2; }

.ClubSys_MainInfo .AdminPanel ul li.Manager { background: url(images/clubsys/manager.gif) no-repeat left 5px; }

.ClubSys_MainInfo .AdminPanel ul li a {
    color: #aa0000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.ClubSys_MainInfo .AdminPanel .CreateDate {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    text-align: left;
}

.ClubSys_MainInfo .AdminPanel .CreateDate em {
    font-size: 14px;
    font-weight: bold;
    padding: 0 2px;
}

/* ClubSys_RankInfo */

.ClubSys_DVRankItemPanel {
    background: transparent;
    float: none;
    text-align: left;
}

.ClubSys_DVRankItemPanel ul li {
    background: url(images/LiIcon.gif) no-repeat 0px 5px;
    margin: 3px;
    padding-left: 10px;
    white-space: nowrap;
}

.ClubSys_DVRankItemPanel ul li em {
    font-family: Georgia;
    font-size: 12px;
}

.ClubSys_RankInfo {
    background: #fff;
    height: auto;
    margin: 0 1px 1px 1px;
}

.ClubSys_RankInfo .RankChartPanel {
    float: left;
    height: 220px;
    width: 220px;
}

.ClubSys_RankInfo .RankItemPanel {
    float: left;
    margin: 5px;
    width: 400px;
}

.ClubSys_RankInfo .RankItemPanel dl dt {
    margin: 5px;
    text-align: right;
}

.ClubSys_RankInfo .RankItemPanel dl dt a {
    background: url(images/LiIcon.gif) no-repeat 0px 5px;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: underline;
}

.ClubSys_RankInfo .RankItemPanel dl dd {
    clear: both;
    display: block;
    height: 25px;
    margin: 10px 5px;
}

.ClubSys_RankInfo .RankItemPanel dl dd:hover { background: #f2f2f2; }

.ClubSys_RankInfo .RankItemPanel dl dd label {
    color: #666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
}

.ClubSys_RankInfo .RankItemPanel dl dd em {
    float: left;
    font-family: Georgia, Tahoma, Verdana;
    font-size: 12px;
    padding: 0 10px;
    text-align: right;
    white-space: nowrap;
    width: 80px;
}

.ClubSys_RankInfo .RankItemPanel dl dd .RankLevel {
    background: #eee;
    border: 1px solid #ccc;
    float: left;
    height: 15px;
    width: 200px;
}

.ClubSys_RankInfo .RankItemPanel dl dd .RankLevel a {
    background: url(images/clubsys/RankLevelBg.gif) no-repeat;
    border: 1px solid #fff;
    color: #aa0000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 13px;
    text-align: right;
}

.ClubSys_RankInfo .RankItemPanel dl dd .RankLevel a:hover { text-decoration: none; }

.ClubSys_RankInfo .RankPointPanel {
    display: inline;
    float: right;
    margin: 10px;
}

.ClubSys_RankInfo .RankPointPanel .RankPoint {
    color: #aa0000;
    display: block;
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.ClubSys_RankInfo .ClubSys_RankDetailPanel {
    background: #fdffd3;
    font-size: 14px;
    margin: 1px;
    padding: 5px;
}

.ClubSys_RankInfo .ClubSys_RankDetailPanel p {
    color: #aa0000;
    font-weight: bold;
    line-height: 1.6;
}

.ClubSys_RankInfo .ClubSys_RankDetailPanel ul { margin: 10px; }

.ClubSys_RankInfo .ClubSys_RankDetailPanel ul li {
    background: url(images/LiIcon.gif) no-repeat 0px 7px;
    color: #666;
    font-size: 12px;
    line-height: 1.8;
    margin: 5px;
    padding-left: 10px;
}


/* ClubSys_Video */

.ClubSys_Video {
    border: 4px solid #9c824a;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 680px;
}

.ClubSys_Video .VideoToolbar {
    clear: both;
    display: none;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 680px;
    z-index: 100;
}

.ClubSys_Video .VideoToolbar span {
    color: #eee;
    float: left;
    font: normal 10px Tahoma;
    margin: 2px;
}

.ClubSys_Video .VideoToolbar .BtnClose {
    -moz-opacity: 0.7; /* Moz + FF */
    background: url("images/clubsys/btn-close.png") no-repeat top left;
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=70); /* IE */
    float: right;
    height: 16px;
    margin: 1px;
    opacity: 0.7; /* 支持CSS3的浏览器（FF 1.5也支持）*/
    width: 16px;
}

.ClubSys_Video .VideoToolbar .BtnMin {
    -moz-opacity: 0.7; /* Moz + FF */
    background: url("images/clubsys/btn-min.png") no-repeat top left;
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=70); /* IE */
    float: right;
    height: 16px;
    margin: 1px;
    opacity: 0.7; /* 支持CSS3的浏览器（FF 1.5也支持）*/
    width: 16px;
}

.ClubSys_Video .VideoToolbar .BtnClose:hover,
.ClubSys_Video .VideoToolbar .BtnMin:hover {
    -moz-opacity: 1; /* Moz + FF */
    filter: alpha(opacity=100); /* IE */
    opacity: 1; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}

.ClubSys_Video .VideoPoster {
    background: #fff url(images/clubsys/arsenalvideolayout.png) no-repeat center center;
    clear: both;
    cursor: pointer;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 680px;
    z-index: 1;
}

.ClubSys_Video .VideoPoster .GoalFrame {
    float: left;
    height: 400px;
    position: relative;
    width: 200px;
}

.ClubSys_Video .VideoPoster .GoalFrame .Star {
    height: 30px;
    left: 40px;
    position: absolute;
    top: 55px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .GoalFrame .Star span {
    background: url(images/clubsys/star.png) repeat-x top left;
    display: block;
    height: 30px;
    margin: auto;
    width: 150px;
}

.ClubSys_Video .VideoPoster .GoalFrame .PlayerPhoto {
    border: 1px solid #aa0000;
    height: 200px;
    left: 38px;
    position: absolute;
    top: 100px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .GoalFrame .PlayerPhoto img {
    height: 200px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .GoalFrame .PlayerName {
    left: 40px;
    position: absolute;
    text-align: center;
    top: 310px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .GoalFrame .PlayerName span {
    color: #aa0000;
    font: normal 16px arial black;
    line-height: 1.5;
    white-space: normal;
}

.ClubSys_Video .VideoPoster .TeamworkFrame {
    float: right;
    height: 400px;
    position: relative;
    width: 200px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .Star {
    height: 30px;
    position: absolute;
    right: 40px;
    top: 55px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .Star span {
    background: url(images/clubsys/star.png) repeat-x top left;
    display: block;
    height: 30px;
    margin: auto;
    width: 150px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .PlayerPhoto {
    border: 1px solid #aa0000;
    height: 200px;
    position: absolute;
    right: 38px;
    top: 100px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .PlayerPhoto img {
    height: 200px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .PlayerName {
    position: absolute;
    right: 40px;
    text-align: center;
    top: 310px;
    width: 160px;
}

.ClubSys_Video .VideoPoster .TeamworkFrame .PlayerName span {
    color: #aa0000;
    font: normal 16px arial black;
    line-height: 1.5;
    white-space: normal;
}

.ClubSys_Video .VideoPoster .MatchFrame {
    float: left;
    height: 400px;
    width: 280px;
}

.ClubSys_Video .VideoPoster .MatchFrame .HomeTeamLogo,
.ClubSys_Video .VideoPoster .MatchFrame .AwayTeamLogo {
    display: block;
    height: 70px;
    margin: 15px auto;
    text-align: center;
    width: 280px;
}

.ClubSys_Video .VideoPoster .MatchFrame .HomeTeamLogo img,
.ClubSys_Video .VideoPoster .MatchFrame .AwayTeamLogo img {
    background: #f5f5f5;
    border: 1px solid #ccc;
    height: 64px;
    padding: 2px;
    width: 64px;
}

.ClubSys_Video .VideoPoster .MatchFrame .HomeTeamName,
.ClubSys_Video .VideoPoster .MatchFrame .AwayTeamName {
    display: block;
    text-align: center;
    width: 280px;
}

.ClubSys_Video .VideoPoster .MatchFrame .HomeTeamName span,
.ClubSys_Video .VideoPoster .MatchFrame .AwayTeamName span {
    color: #333;
    font: italic 24px arial black;
    white-space: normal;
}

.ClubSys_Video .VideoPoster .MatchFrame .MatchResult,
.ClubSys_Video .VideoPoster .MatchFrame .MatchInfo {
    display: block;
    margin: 5px auto;
    overflow: hidden;
    text-align: center;
    width: 280px;
}

.ClubSys_Video .VideoPoster .MatchFrame .MatchResult span {
    color: #aa0000;
    font: bolder 48px arial black;
    white-space: nowrap;
}

.ClubSys_Video .VideoPoster .MatchFrame .MatchInfo span {
    color: #9c824a;
    font: bold 16px arial;
    white-space: nowrap;
}

.ClubSys_Video .VideoFrame {
    display: none;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 680px;
    z-index: 10;
}

.ClubSys_Video .VideoFrame .DPI360 {
    background: #000;
    border: 2px solid #9c824a;
    height: 360px;
    margin: 18px;
    width: 640px;
}

.ClubSys_Video .VideoFrame .DPI270 {
    background: #000;
    border: 2px solid #9c824a;
    height: 270px;
    margin: 63px 98px;
    width: 480px;
}