<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add connectionString="server=VM-WIN2008R2;database=acndb;user id=arsenalcn;pwd=Linfeng01!" name="Arsenalcn.ConnectionString"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>