/* CSS Version Base */
/* Version: 1.1 || Date: 2009-4-27 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

body {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

a {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    text-decoration: underline;
}

a:link {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    text-decoration: none;
}

a:visited {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    text-decoration: none;
}

img { border: none; }

/*** Web 2.0 ***/

/*** Table ***/

table {
    border-collapse: separate;
    empty-cells: show;
    font-family: Tahoma, Verdana;
    font-size: 12px;
}

td {
    font-family: Tahoma, Verdana;
    font-size: 12px;
}

th {
    font-family: Tahoma, Verdana;
    font-size: 12px;
}

/*** Div ***/

div {
    margin: 0;
    padding: 0;
}

ul {
    margin: auto;
    padding: 0;
}

li {
    list-style-position: outside;
    margin: auto;
    padding: 0;
}

#Frame {
    margin: auto;
    position: relative;
}

.Clear { clear: both; }