/* CSS Version Component */
/* Version: 1.2.6 || Date: 2014-08-22 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/** ASP.NET Component **/
.InputBtn {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    border: 1px solid #999999;
    background: #EEEEEE;
    margin: 3px;
    cursor: pointer;
    white-space: nowrap;
}

    .InputBtn:hover {
        color: #aa0000;
        border: 1px solid #333333;
        background: #fff48d;
        white-space: nowrap;
    }

a.LinkBtn {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    border: 1px solid #999999;
    background: #EEEEEE;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
    white-space: nowrap;
}

    a.LinkBtn:hover {
        text-decoration: none;
        color: #aa0000;
        border: 1px solid #333333;
        white-space: nowrap;
    }

a.NewBtn {
    background: #eeeeee url(images/add.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.SelectBtn {
    background: #eeeeee url(images/select.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.EditBtn {
    background: #eeeeee url(images/edit.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.DelBtn {
    background: #eeeeee url(images/del.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.SaveBtn, a.SubmitBtn {
    background: #eeeeee url(images/submit.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.CancelBtn {
    background: #eeeeee url(images/cancel.gif) no-repeat 6px 6px;
    padding-left: 25px;
}

a.ResetBtn {
    background: #eeeeee url(images/reset.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.SetBtn {
    background: #eeeeee url(images/set.gif) no-repeat 5px 6px;
    padding-left: 25px;
}

a.BackBtn {
    background: #eeeeee url(images/arrow_undo.gif) no-repeat 5px 6px;
    padding-left: 25px;
}

a.ConfigBtn {
    background: #eeeeee url(images/addremoveprograms.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.ServiceBtn {
    background: #eeeeee url(images/mydocuments.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.PrivilegeBtn {
    background: #eeeeee url(images/mydocs.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.JoinBtn {
    background: #eeeeee url(images/Join.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.ViewClubBtn {
    background: #eeeeee url(images/ViewClub.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.ManageBtn {
    background: #eeeeee url(images/Manage.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.MemberBtn {
    background: #eeeeee url(images/Member.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.GetBtn {
    background: #eeeeee url(images/magic.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.ActiveBtn {
    background: #eeeeee url(images/cardactive.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

a.CashBtn {
    background: #eeeeee url(images/cash.gif) no-repeat 5px 5px;
    padding-left: 25px;
}

/** Form Component **/
select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    border: 1px solid #999999;
    background: #FFFFFF;
    margin: 1px;
}

.CheckBox label, .RadioButtonList label {
    margin-left: 2px;
    margin-right: 10px;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder {
    color: #ccc;
}

textarea {
    font-size: 12px;
}

.TextBox {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #FFFFFF;
    color: #545454;
    padding: 4px;
    font-size: 12px;
}

.TextBoxRead {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #eee;
    color: #333;
    padding: 4px;
    font-size: 12px;
}

.TextBox:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0ddfc;
    padding: 4px;
    border: 1px double #3399ff;
    color: #000;
}

.ValiSpan {
    color: #aa0000;
    font-weight: bold;
    font-family: Verdana;
}

.BtnDefault {
    display: none;
}
