/* CSS Version DataView */
/* Version: 1.4.3 || Date: 2015-08-09 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/* DataView */
.DataView {
    background: #fff;
    border: 1px solid #9c824a;
    border-collapse: collapse;
    color: #333333;
    text-align: center;
    width: 100%;
}

.DataView td {
    border-top: 1px solid #9c824a;
    padding: 4px;
}

.DataView td.Wrap {
    line-height: 1.5;
    white-space: normal;
}

.DataView .Header th {
    background: #000 url(images/title_bg.jpg) repeat-x;
    color: #999;
    font-weight: bold;
    padding: 8px;
    white-space: nowrap;
}

.DataView .Header th a {
    color: #ccc;
    font-weight: bold;
    text-decoration: underline;
    white-space: nowrap;
}

.DataView .Header th a:hover { color: #eee; }

.DataView .Header th a.CheckAll {
    cursor: pointer;
    text-decoration: none;
}

.DataView .Pager td, .Footer td {
    background: #cccccc;
    font-weight: bold;
    text-align: right;
}

.DataView .Pager td table { float: right; }

.DataView .Pager td table td {
    border: none;
    padding: 0;
}

.DataView .Pager td table tr td span {
    background: #eee;
    color: #333;
    font-weight: bold;
    padding: 5px;
}

.DataView .Pager td table tr td a {
    padding: 3px;
    text-decoration: underline;
}

.DataView .Row td {
    background: #f5f5f5 url(images/listbg.jpg) no-repeat top left;
    color: #444;
}

.DataView .AlternatingRow td {
    background: #f9f9f9 url(images/listbg.jpg) no-repeat top left;
    color: #444;
}

.DataView .SelectedRow, .DataView .Row:hover td, .DataView .AlternatingRow:hover td {
    background: #fef5f4;
    color: #000;
}

.DataView .EditRow { background: #dedede; }

.DataView .EditRow td, .DataView .SelectedRow td {
    color: #333333;
    font-weight: bold;
}

.DataView td.FieldHeader {
    background: #f7f7f7 url(images/listbg.jpg) no-repeat top left;
    color: #666666;
    font-weight: bold;
    padding: 5px;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
}

.DataView td.FieldColumn { text-align: left; }

.DataView td.FieldColspan {
    text-align: left;
    white-space: normal;
}

.DataView .CommandRow td {
    background: #E2DED6;
    color: #666666;
    font-weight: bold;
    text-align: center;
}

.DataView a.StrongLink {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.DataView a.StrongLink:hover {
    font-size: 14px;
    font-weight: bold;
}

/* DataPager */

#DataPagerInfo {
    color: #666;
    float: left;
    font-size: 10px;
    padding: 2px;
}

#DataPagerInfo .GotoTxt {
    border: 1px solid #999;
    font-size: 10px;
    height: 12px;
    padding: 1px;
    text-align: center;
    width: 25px;
}

#DataPagerInfo .GotoBtn {
    background: #f2f2f2;
    border: 1px solid #999;
    font-size: 10px;
    height: 12px;
    padding: 1px 3px;
    width: 20px;
}

#DataPlaceHolder { clear: both; }

.DataItem {
    clear: both;
    display: none;
}

.DataPager {
    background: #cccccc;
    border-top: 1px solid #9c824a;
    clear: both;
    display: block;
    font-weight: bold;
    height: 15px;
    padding: 6px;
    text-align: right;
}

.DataPager a {
    padding: 4px;
    text-decoration: underline;
}

.DataPager span.Current {
    background: #eee;
    color: #333;
    font-weight: bold;
    padding: 4px;
}

.DataPager span.Prev, .DataPager span.Next, .DataPager span.Start, .DataPager span.End { background: none; }

/* FunctionBar */

.FunctionBar {
    background: #fff48d;
    margin: 0 1px;
    min-height: 30px;
    padding: 3px;
}

.FunctionBar .DivFloatRight {
    color: #444;
    float: right;
    font-weight: bold;
}

.FunctionBar .DivFloatLeft {
    color: #444;
    float: left;
    font-weight: bold;
}


/* TreeView */

.TreeView { margin: 5px; }

.TreeView td {
    color: #333333;
    font-size: 12px;
}

.TreeView .HoverNode { text-decoration: underline; }

.TreeView .SelectedNode {
    background: #f0edb9;
    color: #333333;
    font-weight: bold;
    padding: 0 2px;
    text-decoration: underline;
}

/* InfoPanel */

.InfoPanel {
    background: #000;
    border: 1px solid #9c824a;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 1px;
}

.InfoPanel h3 {
    background: #000 url(images/title_bg.jpg) repeat-x top left;
    border-bottom: 2px solid #9c824a;
    height: 30px;
}

.InfoPanel h3 a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 25px;
}

.InfoPanel h3.Exp a { background: url(images/topItem_exp.gif) no-repeat 5px 3px; }

.InfoPanel h3.Col a { background: url(images/topItem_col.gif) no-repeat 5px 3px; }

.InfoPanel .Block {
    background: #f2f2f2 url(images/listbg.gif) no-repeat top left;
    padding: 1px;
}

.InfoPanel .Block ul li.LiTitle {
    background: #fffdc9 url(images/LiTitle.gif) no-repeat 5px 6px;
    border-bottom: 1px solid #9c824a;
    color: #666;
    font-weight: bold;
    list-style: none;
    padding: 5px 20px;
}

.InfoPanel .Block ul li.LiTitle a {
    color: #666;
    cursor: pointer;
    font-weight: bold;
}

.InfoPanel .Block ul li.LiTitle a:hover {
    color: #aa0000;
    font-weight: bold;
}

.InfoPanel .Block ul li {
    background: url(images/LiIcon.gif) no-repeat 12px 10px;
    color: #666;
    line-height: 1.5;
    padding: 4px 20px;
}

.InfoPanel .Block ul li.LiCurrent, .InfoPanel .Block ul li:hover { background: #fffdc9 url(images/LiIcon.gif) no-repeat 12px 10px; }

.InfoPanel .Block ul li.LiTitle:hover { background: #fffdc9 url(images/LiTitle.gif) no-repeat 5px 6px; }

.InfoPanel .Block ul li.IconTop1 {
    background: url(images/IconTop1.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop2 {
    background: url(images/IconTop2.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop3 {
    background: url(images/IconTop3.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop4 {
    background: url(images/IconTop4.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop5 {
    background: url(images/IconTop5.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop6 {
    background: url(images/IconTop6.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop7 {
    background: url(images/IconTop7.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop8 {
    background: url(images/IconTop8.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li.IconTop9 {
    background: url(images/IconTop9.gif) no-repeat 10px 7px;
    padding: 4px 20px 4px 30px;
}

.InfoPanel .Block ul li em {
    color: #aa0000;
    font-size: 11px;
    font-weight: bold;
    padding: 0 5px 0 1px;
}