/* CSS Version DataView */
/* Version: 1.4.2 || Date: 2015-01-05 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/* DataView */
.DataView {
    color: #333333;
    text-align: center;
    background: #fff;
    width: 100%;
    border: 1px solid #9c824a;
}

    .DataView td {
        padding: 4px;
        border-top: 1px solid #9c824a;
    }

    .DataView .Header th {
        background: #000 url(images/title_bg.jpg) repeat-x;
        padding: 8px;
        font-weight: bold;
        color: #999;
        white-space: nowrap;
    }

        .DataView .Header th a {
            font-weight: bold;
            color: #ccc;
            text-decoration: underline;
            white-space: nowrap;
        }

            .DataView .Header th a:hover {
                color: #eee;
            }

            .DataView .Header th a.checkAll {
                text-decoration: none;
                cursor: pointer;
            }

    .DataView .Pager td, .Footer td {
        font-weight: bold;
        text-align: right;
        background: #cccccc;
    }

        .DataView .Pager td table {
            float: right;
        }

            .DataView .Pager td table td {
                border: none;
                padding: 0px;
            }

            .DataView .Pager td table tr td span {
                background: #eee;
                padding: 5px;
                font-weight: bold;
                color: #333;
            }

            .DataView .Pager td table tr td a {
                text-decoration: underline;
                padding: 3px;
            }

    .DataView .Row td {
        background: #f5f5f5 url(images/listbg.jpg) no-repeat top left;
        color: #444;
    }

    .DataView .AlternatingRow td {
        background: #f9f9f9 url(images/listbg.jpg) no-repeat top left;
        color: #444;
    }

    .DataView .SelectedRow, .DataView .Row:hover td, .DataView .AlternatingRow:hover td {
        background: #fef5f4;
        color: #000;
    }

    .DataView .EditRow {
        background: #dedede;
    }

        .DataView .EditRow td, .DataView .SelectedRow td {
            color: #333333;
            font-weight: bold;
        }

    .DataView td.FieldHeader {
        background: #f7f7f7 url(images/listbg.jpg) no-repeat top left;
        text-align: right;
        font-weight: bold;
        color: #666666;
        padding: 5px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .DataView .CommandRow td {
        background: #E2DED6;
        text-align: center;
        font-weight: bold;
        color: #666666;
    }

    .DataView a.StrongLink {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
    }

    .DataView a:hover.StrongLink {
        font-size: 14px;
        font-weight: bold;
    }

/* DataPager */
#DataPagerInfo {
    float: left;
    padding: 2px;
    font-size: 10px;
    color: #666;
}

    #DataPagerInfo .GotoTxt {
        font-size: 10px;
        width: 25px;
        height: 12px;
        border: 1px solid #999;
        padding: 1px;
        text-align: center;
    }

    #DataPagerInfo .GotoBtn {
        font-size: 10px;
        border: 1px solid #999;
        background: #f2f2f2;
        width: 20px;
        height: 12px;
        padding: 1px 3px;
    }

#DataPlaceHolder {
    clear: both;
}

.DataItem {
    clear: both;
    display: none;
}

.DataPager {
    clear: both;
    display: block;
    padding: 6px;
    height: 15px;
    text-align: right;
    font-weight: bold;
    background: #cccccc;
    border-top: 1px solid #9c824a;
}

    .DataPager a {
        text-decoration: underline;
        padding: 4px;
    }

    .DataPager span.Current {
        background: #eee;
        padding: 4px;
        font-weight: bold;
        color: #333;
    }

    .DataPager span.Prev, .DataPager span.Next, .DataPager span.Start, .DataPager span.End {
        background: none;
    }

/* FunctionBar */
.FunctionBar {
    background: #fff48d;
    margin: 0px 1px;
    padding: 3px;
    min-height: 30px;
}

    .FunctionBar .DivFloatRight {
        color: #444;
        float: right;
        font-weight: bold;
    }

    .FunctionBar .DivFloatLeft {
        color: #444;
        float: left;
        font-weight: bold;
    }


/* TreeView */
.TreeView {
    margin: 5px;
}

    .TreeView td {
        font-size: 12px;
        color: #333333;
    }

    .TreeView .ParentNode {
    }

    .TreeView .HoverNode {
        text-decoration: underline;
    }

    .TreeView .SelectedNode {
        background: #f0edb9;
        text-decoration: underline;
        padding: 0px 2px;
        color: #333333;
        font-weight: bold;
    }

/* InfoPanel */
.InfoPanel {
    border: 1px solid #9c824a;
    background: #000;
    padding: 1px;
    margin-right: 5px;
    margin-bottom: 10px;
}

    .InfoPanel h3 {
        background: #000 url(images/title_bg.jpg) repeat-x top left;
        height: 30px;
        border-bottom: 2px solid #9c824a;
    }

        .InfoPanel h3 a {
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            padding: 7px 25px;
            display: block;
            cursor: pointer;
        }

        .InfoPanel h3.Exp a {
            background: url(images/topItem_exp.gif) no-repeat 5px 3px;
        }

        .InfoPanel h3.Col a {
            background: url(images/topItem_col.gif) no-repeat 5px 3px;
        }

    .InfoPanel .Block {
        background: #f2f2f2 url(images/listbg.gif) no-repeat top left;
        padding: 1px;
    }

        .InfoPanel .Block ul li.LiTitle {
            padding: 5px 20px;
            background: #fffdc9 url(images/LiTitle.gif) no-repeat 5px 6px;
            font-weight: bold;
            color: #666;
            list-style: none;
            border-bottom: 1px solid #9c824a;
        }

            .InfoPanel .Block ul li.LiTitle a {
                font-weight: bold;
                color: #666;
                cursor: pointer;
            }

                .InfoPanel .Block ul li.LiTitle a:hover {
                    font-weight: bold;
                    color: #aa0000;
                }

        .InfoPanel .Block ul li {
            line-height: 1.5;
            color: #666;
            background: url(images/LiIcon.gif) no-repeat 12px 10px;
            padding: 4px 20px;
        }

            .InfoPanel .Block ul li.LiCurrent, .InfoPanel .Block ul li:hover {
                background: #fffdc9 url(images/LiIcon.gif) no-repeat 12px 10px;
            }

            .InfoPanel .Block ul li.LiTitle:hover {
                background: #fffdc9 url(images/LiTitle.gif) no-repeat 5px 6px;
            }

            .InfoPanel .Block ul li.IconTop1 {
                background: url(images/IconTop1.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop2 {
                background: url(images/IconTop2.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop3 {
                background: url(images/IconTop3.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop4 {
                background: url(images/IconTop4.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop5 {
                background: url(images/IconTop5.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop6 {
                background: url(images/IconTop6.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop7 {
                background: url(images/IconTop7.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop8 {
                background: url(images/IconTop8.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li.IconTop9 {
                background: url(images/IconTop9.gif) no-repeat 10px 7px;
                padding: 4px 20px 4px 30px;
            }

            .InfoPanel .Block ul li em {
                color: #aa0000;
                padding: 0px 5px 0px 1px;
                font-weight: bold;
                font-size: 11px;
            }
