/* CSS Version iArsenal */
/* Version: 1.1.1 || Date: 2015-1-1 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/** ASC Common **/
.asc_memberName_blackList {
    color: #555 !important;
    text-decoration: none;
}

.asc_memberName_whiteList {
    color: #377e55 !important;
    text-decoration: none;
}

/* ASC MainInfo */
.ASC_MainInfo {
    background: #f7f7f7 url(images/listbg.jpg) no-repeat top left;
}

    .ASC_MainInfo em {
        font-weight: bold;
        font-family: Georgia, Tahoma, Verdana;
        font-size: 13px;
    }
