/* CSS Version Default */
/* Version: 0.3 (Arsenal.Mobile) */
/* Cascading Style Sheets Level 2 Revision 1 */

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #aa0000;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #aa0000;
}

.validation-summary-errors {
    color: #aa0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }


/* jQuery mobile styles
-----------------------------------------------------------*/

.ui-overlay-c { background: #666666 url("images/site-background.jpg") 50% 0 no-repeat fixed; }


.ui-page-theme-c {
    -moz-filter: Alpha(Opacity=92);
    -ms-opacity: .92;
    -o-filter: Alpha(Opacity=92);
    -webkit-filter: Alpha(Opacity=92);
    background: #eaeaea url("images/page-background.jpg") 50% 0 repeat-y;
    filter: Alpha(Opacity=92);
    opacity: .92;
}

.ui-page-theme-c .ui-listview li .ui-btn-active {
    -ms-text-shadow: none !important;
    background: #fef1f0 !important;
    color: #aa0000 !important;
    text-shadow: none !important;
}

.ui-page-theme-c .ui-header-fixed {
    background: #d60000 url("images/bar-background.png") right top no-repeat !important;
    border-bottom: 4px #9c824a solid !important;
}

.ui-page-theme-c .ui-footer-fixed {
    background: #d60000 url("images/bar-background.png") right top no-repeat !important;
    border-top: 4px #9c824a solid !important;
}

.ui-page-theme-c .ui-li-divider { border-bottom: 2px #9c824a solid !important; }

.ui-header, .ui-footer, .ui-controlgroup { text-align: center; }

.ui-header h1 { overflow: visible; }


/* Make listview buttons fill the whole horizontal width of the screen */

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li { padding-right: 15px; }

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d,
.ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e,
.ui-btn-active {
    -ms-text-shadow: none;
    text-shadow: none;
}


/* Arsenalcn.Casino 
-----------------------------------------------------------*/

.match-versus { text-align: center; }

.match-versus p { margin: 10px 0; }

.match-versus img { margin-top: 10px; }

.match-versus div.ui-input-text {
    display: inline-block;
    width: 40px;
}

.match-versus div.ui-input-text input {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.match-versus span { padding: 5px; }



/* Origin Style */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/