/* CSS Version Default */
/* Version: 0.7 (Arsenal.Mobile) */
/* Cascading Style Sheets Level 2 Revision 1 */

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #aa0000;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #fee;
    border: 1px solid #aa0000;
}

.validation-summary-errors {
    color: #aa0000;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}


/* jQuery mobile styles
-----------------------------------------------------------*/

/* ios background-attachment:fixed */
.ui-overlay-c:before {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666666 url("images/site-background.jpg") center 0 no-repeat;
}

.ui-page-theme-c {
    background: transparent;
}

    .ui-page-theme-c .ui-content {
        background: #eaeaea url("images/page-background.jpg") 50% 0 repeat-y;
        /* older safari/Chrome browsers */
        -webkit-opacity: 0.9;
        /* Netscape and Older than Firefox 0.9 */
        -moz-opacity: 0.9;
        /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
        -khtml-opacity: 0.9;
        /* IE9 + etc...modern browsers */
        -ms-opacity: .9;
        /* IE9 + etc...modern browsers */
        opacity: .9;
    }

    .ui-page-theme-c .ui-listview li .ui-btn-active {
        -ms-text-shadow: none !important;
        background: #fef1f0 !important;
        color: #aa0000 !important;
        text-shadow: none !important;
    }

    .ui-page-theme-c .ui-header-fixed {
        background: #d60000 url("images/bar-background.png") right top no-repeat !important;
        border-bottom: 4px #9c824a solid !important;
    }

    .ui-page-theme-c .ui-footer-fixed {
        background: #d60000 url("images/bar-background.png") right top no-repeat !important;
        border-top: 4px #9c824a solid !important;
    }

    .ui-page-theme-c .ui-li-divider {
        border-bottom: 2px #9c824a solid !important;
    }

.ui-header, .ui-footer, .ui-controlgroup {
    text-align: center;
}

    .ui-header h1 {
        overflow: visible;
    }

.ui-slider .ui-slider-input {
    width: 60px !important;
    text-align: right !important;
}

.ui-slider .ui-slider-track {
    margin-left: 88px !important;
}


/* Make listview buttons fill the whole horizontal width of the screen */

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-right: 15px;
}

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d,
.ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e,
.ui-btn-active {
    -ms-text-shadow: none;
    text-shadow: none;
}

/* Arsenal.Mobile Override
    -----------------------------------------------------------*/
em {
    padding: 0 5px;
    font-style: normal !important;
    font-weight: bold !important;
    color: #da7b00;
}

    em a {
        color: #F0D804 !important;
    }


/* Arsenal.Mobile Pager
-----------------------------------------------------------*/
.pager {
    text-align: center;
}

    .pager input {
        text-align: center;
    }

    .pager a#pagePrev {
        float: left;
        margin-left: 5px;
    }

    .pager a#pageNext {
        float: right;
        margin-right: 5px;
    }

    .pager div.ui-input-text {
        display: inline-block;
        width: 60px;
    }

    .pager div.ui-select {
        display: inline-block;
        width: 60px;
    }


/* Arsenalcn.Casino 
-----------------------------------------------------------*/

/* Logo */
.bonus-info-list h3 > img, .bet-info-list h3 > img {
    width: 16px;
    height: 16px;
}

.league-logo {
    background: #ccc;
    border: 1px solid #9c824a;
    height: 50px;
    width: 50px;
    padding: 2px;
    margin: 15px 25px;
}

/* match-versus */
.match-versus {
    text-align: center;
}

    .match-versus p {
        margin: 10px 0;
    }

    .match-versus img {
        margin-top: 10px;
    }

    .match-versus div.ui-input-text {
        display: inline-block;
        width: 40px;
    }

        .match-versus div.ui-input-text input {
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }

    .match-versus span {
        padding: 5px;
        font-size: 32px;
        font-weight: bolder;
    }

        .match-versus span.versus {
            font-family: Tahoma;
            font-size: 20px;
            font-weight: bold;
        }

/* match-versus-lite */
.match-versus-lite {
    margin: 0 auto;
    text-align: center;
}

    .match-versus-lite .ui-block-a {
        text-align: right;
        width: 30%;
    }

    .match-versus-lite .ui-block-b {
        text-align: right;
        width: 10%;
    }

        .match-versus-lite .ui-block-b img {
            height: 32px;
            width: 32px;
        }

    .match-versus-lite .ui-block-c {
        text-align: center;
        width: 20%;
    }

        .match-versus-lite .ui-block-c span {
            font-weight: bolder;
            font-size: 22px;
        }

            .match-versus-lite .ui-block-c span.versus {
                font-family: Tahoma;
                font-size: 18px;
                font-weight: bold;
                margin: 0 5px;
            }

    .match-versus-lite .ui-block-d {
        text-align: left;
        width: 10%;
    }

        .match-versus-lite .ui-block-d img {
            height: 32px;
            width: 32px;
        }

    .match-versus-lite .ui-block-e {
        text-align: left;
        width: 30%;
    }

/* bet-info-list */
.bet-info-list .star a {
    background: #ffcccc;
}

.bet-info-list .back a {
    background: #fffccc;
}

.bet-info-list .check a {
    background: #ffcccc;
}

/* rank */
.rank a.icon {
    text-indent: 0 !important;
    text-align: center !important;
    padding-top: 28px !important;
    font-family: Arial;
}

.rank a.top1 {
    color: #aa0000;
    background: #ffcccc;
}

.rank a.top2 {
    color: #aa0000;
    background: #ffdddd;
}

.rank a.top3 {
    color: #aa0000;
    background: #ffeeee;
}


/* Origin Style */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
