@model Arsenal.Mobile.Models.Casino.MyBetDto
@{
    ViewBag.Title = "我的中奖查询";
}

@if (Model.Criteria.MaxPage > 0)
{
@section Footer {
    <div data-role="footer" data-position="fixed" class="pager">
        @Html.Partial("_PagerPartial", Model.Criteria)
    </div>
}}

<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            我的中奖查询
            <span class="ui-li-count">@Model.Criteria.TotalCount</span>
        </li>
        @if (Model != null && Model.Data.Any())
        {
            foreach (var m in Model.Data)
            {
                @Html.Partial("Casino/_BetInfoPartial", m)
            }
        }
    </ul>
</div>