@model Arsenal.Mobile.Models.Casino.ResultDto
@{
    ViewBag.Title = "比赛结果";
}

@if (Model.Criteria.MaxPage > 0)
{
@section Footer {
    <div data-role="footer" data-position="fixed" class="pager">
        @Html.Partial("_PagerPartial", Model.Criteria)
    </div>
}}
<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            比赛结果
            <span class="ui-li-count">@Model.Criteria.TotalCount</span>
        </li>
        @if (Model != null && Model.Data.Any())
        {
            foreach (var m in Model.Data)
            {
                <li>
                    <a data-transition="slide" href="@Url.Action("Detail", "Casino", new {id = m.ID.ToString()})">
                        @Html.Partial("Casino/_MatchInfoPartial", m)
                    </a>
                </li>
            }
        }
    </ul>
</div>